

.head {
    background-color: aqua;
    
}

form {
    background-color:yellowgreen;
}

.wd {
    margin-left: 5px;
}

.ms {

}

.colors1 {
    background-color: aqua;
    height: 20px;
    margin-top: 8px;
}

.ph {
    margin-top: 5px;
    
}

.radio-form {
    margin-top: 6px;
}
